/*评论块的样式*/

.main_comment {
    overflow: hidden;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    /*background: yellow;*/

}

.main_comment_contain {
    height: 100%;
    float: right;
    font-size: 1.2rem;
    color: #333;
    overflow: hidden;
    position: relative;
    /*background: yellow;*/
}

.main_comment_contain:last-child {
    margin-right: 2rem;
}

.main_comment_contain span{
    display: inline-block;
    vertical-align: middle;
}

.main_comment_contain img {
    /*float: right;*/
    margin-left: 10px;
    height:16px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.main_comment_msg {
    padding-left: 4rem;
    box-sizing: border-box;
}

.main_comment_owner {
    font-size: 1.2rem;
    color: #333;
    font-weight: 400;
    box-sizing: border-box;
    padding-left: 1.5rem;
    margin-top: 10px;

}

.main_comment_owner > p {
    /*text-align: center;*/
    margin-top: 1.5rem;
    line-height: 20px;
}

.main_comment_owner  p.more {
    text-align: center;
    margin-top: 10px;
}

.main_comment_owner  p a {
    font-size: 1.2rem;
    color: #70b9f0;

}

.main_comment_other {
    width: 100%;
}

.main_comment_other > p {
    font-size: 1.2rem;
    color: #333;
    line-height: 30px;
}

.main_comment_other span.main_comment_name a {
    color: #70b9f0;
}

.main_sp {
    margin-top: 1rem;
}

.loading {
    margin-top: 1.25rem;
}

.loading p {
    text-align: center;
    font-size: 1.2rem;
    color: #999999;
    font-weight: 400;
}
