    .page_header{
        overflow: visible;
        height: 60px;
    }
    

    /*登录选择块*/

    .login_choose{
        width:100%;
        position: absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        -webkit-transform:translate(-50%,-50%);
        text-align: center;
        box-sizing:border-box;

    }

    .login_choose>p{
        text-align: center;
        font-size: 1.4rem;
        color:#333;
    }

    .choose_container{
        padding:0 1.2rem;
        border-bottom: 1px solid #e8e8e8;
        border-top: 1px solid #e8e8e8;
        margin-top: 2.5rem;
    }

    .login_choose ul{
        /*overflow: hidden;*/
        padding:3.5rem 0;
    }

    .login_choose ul:after{
        content: "";
        display: block;
        clear: both;
    }

    .login_choose ul li{
        width:15%;
        text-align: center;
        float: left;
        margin:0 5%;
        box-sizing:border-box;
        /*padding-top: 13%;*/
        position: relative;
    }

    .login_choose ul li a{
        display: inline-block;
        font-size: 1.2rem;
        color:#333;
        position: relative;
        left:0;
        top:0;
    }

    

    .login_choose ul li img{
        width:100%;
        height: 100%;
        vertical-align: middle;
    }

    @media (max-width:480px){

        /*登录选择块480以下的样式*/

        .login_choose>p{
            font-size: 16px;
        }

        .login_choose ul li a{
            font-size: 13px;
        }
    }