.main_order_select {
  width: 60px;
  height: 28px;
  border-radius: 23px;
  border: 1px solid #e92230;
  text-align: center;
  color: #e92230;
  padding: 0px 10px;
  /*box-sizing:border-box;*/
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  /*background: skyblue*/
  cursor: pointer;
}

.main_order_select > .icon_add {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.main_order_select > .icon_add > span:first-child {
  width: 2px;
  height: 100%;
  background: #e92230;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.main_order_select > .icon_add > span:last-child {
  width: 100%;
  height: 2px;
  background: #e92230;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.main_order_select > span {
  font-size: 12px;
  color: #e92230;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.order{
  border:1px solid rgb(153, 153, 153) !important;
}
.order>span{
  color:rgb(153, 153, 153) !important;
  right:0!important;
  left:50%;
  transform:translate(-50%,-50%) !important;
  -webkit-transform:translate(-50%,-50%) !important;
}

.order>.icon_add{
  display: none!important;
}
