/*阴影块样式*/
.homeshadow{
    width:100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    left:50%;
    top:0;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    z-index: 100;
    display: none;
}

/*模态框样式*/

.homeshadow .model{
    width:75%;
    height: 15rem;
    background: #fff;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    z-index: 101;
    max-width: 522px;
    border-radius: 10px;
}

.homeshadow .model>div.model_info{
    height: 70%;
    color:#333;
    padding:1rem 3rem;
    box-sizing:border-box;
    font-size: 1.5rem;
}

.homeshadow .model>div.model_info>p{
    text-align: center;
    line-height: 2.2rem;
}

.homeshadow .model>div.model_info>p:last-child{
    text-align: left;
    margin-top:1.5rem;
}

.homeshadow .model>div.model_button{
    height: 30%;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    border-top:1px solid #e8e8e8;
}

.homeshadow .model>div.model_button>button{
    float: left;
    display: block;
    height: 100%;
    width:50%;
    box-sizing:border-box;
    text-align: center;
    line-height: 4.75rem;
    font-size: 1.5rem;
    color:#e92230;
    border:none;
    outline: none;
    cursor: pointer;
    background: #fff;
}

.homeshadow .model>div.model_button>button:last-child{
    border-left:1px solid #e8e8e8;
}

@media (max-width: 480px){
    /*模态框480以下样式*/

    .homeshadow .model>div.model_info>p,.model>div.model_button>button{
        font-size: 16px;
    }

    .homeshadow .media_info_movie>span{
        border-left:14px solid #fff;
        border-right:0px solid transparent;
        border-top:7px solid transparent;
        border-bottom:7px solid transparent;
    }

    .homeshadow .model>div.model_info>p:last-child{
        margin-top:0.8rem;
    }
}