/*无评论块样式*/

.no_comment{
    position: fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    /*display: none;*/
}

.no_comment>p{
    font-size: 1.2rem;
    color:#999;
}

.container{
    margin-top:2.5rem;
    padding:0 1.2rem;
}