/*页面的搜索块的样式*/

.search_contain{
    padding:0 1.2rem;
}

.media_search{
    margin-top:1.5rem;
    height: 3rem;
    text-align: center;
    position: relative;
    line-height: 3rem;
    cursor: pointer;
}

.media_search>div{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    border-radius: 30px;
    border:1px solid #d3d3d3;
    background: transparent;
    box-sizing:border-box;
}

.media_search>img{
    margin-top:-8px;
    vertical-align:middle;

}
.media_search>span{
    display: inline-block;
    /*margin-top:14px;*/
    font-size: 1.2rem;
    color:#999;

}

@media (max-width: 480px){

    /* 显示的搜索块480以下的媒体查询  配合html的字号的大小改变*/

    .media_search,.media_search_hide{
        height: 28px;
        line-height: 26px;
    }

    .media_search, .media_search_hide{
        margin-top:1rem;
    }


    .media_search>img,.media_search_hide>img{
        width:15px;
        height: 16px;
        margin-top:-2px;
    }

    .media_search>span{
        font-size: 12px;
    }
}