/*编辑块样式*/

.comment {
    /*overflow: hidden;*/
    width: 200%;
}

.comment:after {
    content: "";
    display: block;
    clear: both;
}

.comment_left {
    float: left;
    width: 4rem;
    padding-top: 15.6%;
    max-width: 80px;
    cursor: pointer;
    position: relative;
}

.comment_left > div {
    width: 26px;
    height: 26px;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid #e92230;
}

.comment_left > div > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    height: 2px;
    width: 50%;
    background: #e92230;
}

.comment_right {
    float: left;
    width: 50%;
}
