/*页面的类似搜索块的样式*/

.add_container .order_search {
    margin-top: 1.5rem;
    height: 3rem;
    text-align: center;
    position: relative;
    line-height: 3rem;
    cursor: pointer;
}

.add_container .order_search > div.bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 30px;
    border: 1px solid #ea303d;
    background: transparent;
    text-indent: 30px;
    box-sizing: border-box;
}

.add_container .order_search .big_add {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding-left: 26px;
}

.add_container .order_search div.add {
    width: 22px;
    height: 22px;
    border: 1px solid #e92230;
    border-radius: 50%;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.add_container .order_search div.add > span:first-child {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 60%;
    height: 1px;
    background: #e92230;
}

.add_container .order_search div.add > span:last-child {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 1px;
    height: 60%;
    background: #e92230;
}

.add_container .order_search .big_add > span {
    display: inline-block;
    /*margin-top:14px;*/
    font-size: 1.2rem;
    color: #ea303d;

}

/*订阅块的样式*/

.main_order {
    margin-top: 0px;
}

.main_order:first-child {
    margin-top: 2.5rem;
}

.main_order > a {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.main_order_info {
    width: calc(100% - 5.5rem)
}

.main_order_info > p:last-child {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
    color: #707070;
    cursor: pointer;
    /*            -webkit-line-clamp:1;
            -webkit-box-orient:vertical;
            display:-webkit-box;*/
}

/*时间，数量的样式*/

#time {
    font-size: 1rem;
    color: #999;
    position: absolute;
    right: 0;
    top: 0;
}

.num {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    right: 0;
    top: 0;
    background: #e92230;
    border-radius: 50%;
    text-align: center;
    line-height: 1.8rem;
    color: #fff;
}

