
.menu{
    margin-top:1.5rem;
    padding:0 1.2rem;

}

.menu #wrapper2{
    overflow: hidden;
}

.menu .media_header_info:after{
    content: "";
    display: block;
    clear: both;
}
.menu .media_header_info ul{
    width:5000px;
    position: relative;
    /*overflow: hidden;*/
}


.menu .media_header_info ul li{
    float: left;

}

.menu .media_header_info ul li a{
    font-size: 1.2rem;
    padding:0.5rem 1rem;
    border:1px solid #ccc;
    margin-right: 20px;
    border-radius: 1.4rem;
    color:#aaa;
    display: inline-block;
}

.menucurrent a{
    border:1px solid #e60012!important;
    color:#e60012!important;
}

@media (max-width:480px){
    .menu .media_header_info ul li a{
        padding:3px 1rem;
        font-size: 12px;
    }

    .menu{
        margin-top: 1rem;
    }
}