
.contain_shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    z-index: -1;
    transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    opacity: 0;
}

/*主页头部公共样式*/


.header_contain {
    border-bottom: 1px solid #e8e8e8;
    position:fixed;
    left:50%;
    top:0;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    width:100%;
    max-width:600px;
    background: #fff;
    z-index: 1;
    padding: 0 1.2rem;
    box-sizing: border-box;
}

header.media_header {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 1.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

header.media_header > a {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding-right: 25px;
}

header.media_header > a > img {
    vertical-align: middle;
    width:22px;
}

header.media_header .media_header_info {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-left: 25px;

}

header.media_header .media_header_info ul {
    position: relative;
    overflow: hidden;
    width: 5000px;
}

header.media_header .media_header_info ul li {
    float: left;
    margin-right: 1.65rem;
    display: inline-block;
    vertical-align: middle;
}

header.media_header .media_header_info ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    line-height: 2rem;
}

/*页面的内容块的样式*/

.media_info {
    margin-top: 1.5rem;
    box-sizing: border-box;
}


/*侧边栏*/

/*侧边栏登录头像*/

.login_head {
    overflow: hidden;
    margin-top: 2.5rem;
}

.login_head img {
    width: 4.5rem;
    height: 4.5rem;
    box-sizing: border-box;
    border: 2px solid #333;
    float: left;
    border-radius: 50%;
}

.login_head span {
    float: left;
    line-height: 4.5rem;
    font-size: 1.5rem;
    margin-left: 23px;
}

.aside {
    width: 70%;
    background: #fff;
    position: fixed;
    left: -70%;
    top: 0;
    padding-left: 1.2rem;
    box-sizing: border-box;
    transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    opacity: 0;
    z-index:0;
}

/*.aside > a {*/
/*display: inline-block;*/
/*}*/

/*侧边栏ul块*/

.aside ul {
    margin-top: 3rem;
}

.aside ul li {
    overflow: hidden;
    clear: both;
}

.aside ul li img {
    float: left;
    width: 2.5rem;
    height: 2.5rem;
}

.aside ul li span {
    float: left;
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin-left: 16px;
}
