

.sugguest_info {
    width: 100%;
    height: 150px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.sugguest_info textarea {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 1.2rem;
}

/*联系电话块样式*/

.sugguest_phone {
    height: 30px;
    margin-top: 1.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.sugguest_phone > input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    text-indent: 20px;
    font-size: 1.2rem;
    border-radius: 10px;
}

.staff{
    margin-top:1.5rem;
}

button.commit {
    display: block;
    width: 100%;
    height: 36px;
    font-size: 1.2rem;
    height: 36px;
    border: none;
    outline: none;
    background: #eeeeee;
    border-radius: 2rem;
    color: #999;
    margin-top: 1.5rem;
    cursor: pointer;
}

button.hover {
    background: #e92230;
    color: #fff;
}
