header.media_header .media_header_info{
    width: 100%;
    position:relative;
    overflow: hidden;
    margin-left:25px;
}

header.media_header .media_header_info ul{
    position: relative;
    overflow: hidden;
    width:5000px;
}

header.media_header .media_header_info ul li{
    float: left;
    margin-right: 30px;
}

header.media_header .media_header_info ul li a{
    text-decoration: none;
    color:#333;
    font-size: 1.5rem;
    line-height: 2rem;
}

@media (max-width: 480px){
    header.media_header .media_header_info{
        height: 30px;
        line-height: 30px;
    }

    header.media_header .media_header_info ul{
        height: 100%;
    }

    header.media_header .media_header_info ul li{
        margin-right:20px;
        height: 100%;
    }

    header.media_header .media_header_info ul li a{
        font-size:14px;
    }
}