.mask{
  width:180px;
  height:60px;
  position: fixed;
  z-index:102;
  left:50%;
  top:50%;
  background-color: rgba(0,0,0,.4);
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transition:background-color 500ms ease;
  border-radius:5px;
  line-height:60px;
  text-align: center;
}

.mask-text{
  color:#fff;
  font-size:16px;
}
