/*隐藏的搜索块样式*/

.page_hide {
  position: fixed;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  background: #fff;
  overflow: hidden;
  padding: 11px 1.2rem;
  height:60px;
  top:0;
  left:50%;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  z-index: 10;
}

.page_hide .back_search {
  cursor: pointer;
  position: absolute;
  left:1.2rem;
  top:50%;
  transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
}

.page_hide .back_search img {
  width: 25px;
  padding-right: 10px;
}

#form{
  width:calc(100% - 40px - 2.4rem);
  height:40px;
  position: absolute;
  right:1.2rem;
  top:50%;
  transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
}

.media_search_hide {
  height:100%;
  text-align: left;
  cursor: pointer;
  position: relative;
  /*line-height:38px;*/
  padding-left: 30px;
}

.media_search_hide > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 30px;
  border: 1px solid #d3d3d3;
  text-indent: 30px;
  background: transparent;
  box-sizing: border-box;
}

.placeholder{
  height:40px;
  display: inline-block;
  line-height: 38px;
}

.media_search_hide .placeholder > img {
  display: inline-block;
  vertical-align: middle;
  width:18px;
}

.media_search_hide .placeholder > span {
  /*margin-top:14px;*/
  font-size: 1.2rem;
  color: #999;
  display: inline-block;
  vertical-align: middle;
  /*height:40px;*/
  /*line-height: 40px;*/
}
