/*页面的搜索块的样式*/

.search_contain{
    margin-top: 6rem;
}

.media_search {
    margin-top: 1.5rem;
    height: 3rem;
    text-align: center;
    position: relative;
    line-height: 3rem;
    cursor: pointer;

}

.media_search > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 1px solid #d3d3d3;
    background: transparent;
    box-sizing: border-box;
}

.media_search > img {
    vertical-align: middle;
    height:22px;
}

.media_search > span {
    display: inline-block;
    /*margin-top:14px;*/
    font-size: 1.2rem;
    color: #999;
    vertical-align: middle;
}
